<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    
    Here we go!<br><br>
    <form action='/madlib'>
        Name:
            <input type="text" name="name"><br>
        Pick a noun.
        <select name="noun">
            <option value="cat">cat</option>
            <option value="sun">sun</option>
            <option value="paper">paper</option>
        </select><br>
         Pick an adjective.
        <select name="adjective">
            <option value="exciting">exciting</option>
            <option value="sad">sad</option>
            <option value="handsome">handsome</option>
        </select><br>

        What's your favorite color?
        <select name="color">
            <option value="black">Black</option>
            <option value="green">Green</option>
            <option value="pink">Pink</option>
        </select><br>
        <input type="submit">

    </form>
    

</body>
</html>